// Variables
// --------------------------

$fa-font-path: 'webfonts/';
$family-sans-serif :  'Montserrat', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$turquoise: #005476;
$cyan : #0076BF;
$green : #ED0070;
$white-ter: #F2E7DC;
$site-width: 5px;
$size-6 : 0.85rem;

